@model PagedList.IPagedList<NewsPortal.Data.Model.Category>
@using PagedList.Mvc
@{
    ViewBag.Title = "Category List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/notify.js"></script>

<div class="container-fluid">

    <div class="row">
        <!-- Responsive table -->
        <div class="col-md-12">
            <div class="panel panel-default">
                <header class="panel-heading">@ViewBag.Title</header>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Category Name</th>
                                    <th>Top Category</th>
                                    <th>State</th>
                                    <th>Operations</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td><span class="label label-success">@item.ID</span></td>
                                        <td>@item.CategoryName</td>
                                        <td>
                                            @foreach (var topCategory in Model.Where(x => x.ID == item.ParentID))
                                            {
                                                <span>@topCategory.CategoryName</span>
                                            }
                                        </td>
                                        <td>
                                            @if (item.IsActive)
                                            {
                                                <b class="label label-success">Active</b>
                                            }
                                            else
                                            {
                                                <b class="label label-danger">Passive</b>
                                            }
                                        </td>
                                        <td>
                                            @*<button class="btn btn-default btn-sm">Edit</button>*@
                                            <a href="@Url.Action("Update", "Category", new { ID = item.ID })" class="btn btn-default btn-sm">Edit</a>
                                            @*@Html.ActionLink("Delete","Delete", new { ID = item.ID }, new { onclick="return confirm('Are you sure want to delete record?')" })*@
                                            <button class="btn btn-default btn-sm" id="btnDeleteCategory" data-id="@item.ID">Delete</button>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)
        </div>
        <!-- /Responsive table -->
    </div>
</div>

