@model PagedList.IPagedList<NewsPortal.Data.Model.News>
@using PagedList.Mvc
@{
    ViewBag.Title = "List News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <div class="row">
        <!-- Responsive table -->
        <div class="col-md-12">
            <div class="panel panel-default">
                <header class="panel-heading">@ViewBag.Title</header>
                <div class="panel-body">
                    @if (TempData["Information"] != null)
                    {
                    <div class="alert alert-success"> @TempData["Information"]</div>
                    }
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Image</th>
                                    <th>Header</th>
                                    <th>Upload Date</th>
                                    <th>Category</th>
                                    <th>State</th>
                                    <th>Operations</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td><span class="label label-success">@item.ID</span></td>
                                        <td><img src="@item.ImageStr" alt="@item.Title" /></td>
                                        <td>@item.Title</td>
                                        <td>@item.UploadDate.ToString("MM.dd.yyyy")</td>
                                        <td>@item.Category.CategoryName</td>
                                        <td>
                                            @if (item.IsActive)
                                            {
                                                <b class="label label-success">Active</b>
                                            }
                                            else
                                            {
                                                <b class="label label-danger">Passive</b>
                                            }
                                        </td>
                                        <td>
                                            @*<button class="btn btn-default btn-sm">Edit</button>*@
                                            <a href="@Url.Action("Edit", "News", new { ID = item.ID })" class="btn btn-default btn-sm">Edit</a>
                                            @*@Html.ActionLink("Delete","Delete", new { ID = item.ID }, new { onclick="return confirm('Are you sure want to delete record?')" })*@
                                            <a href="@Url.Action("Confirm", "News", new { ID = item.ID })" class="btn btn-default btn-sm">Active / Passive</a>

                                            <a href="@Url.Action("Delete", "News", new { ID = item.ID })" class="btn btn-default btn-sm">Delete</a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)
        </div>
        <!-- /Responsive table -->
    </div>
</div>

